<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="29" android:versionName="1.29" package="test.de.hopf.android.trivialdice.color">
      
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="20"/>  
                
    <application android:allowBackup="true">
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="de.hopf.android.trivialdice.color"/>
</manifest>