<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="test.de.hopf.android.trivialdice.color"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />  
                
    <application android:allowBackup="true">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:targetPackage="de.hopf.android.trivialdice.color" android:name="android.test.InstrumentationTestRunner" />
</manifest> 
