<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="33" android:versionName="1.33" package="test.de.hopf.mobile.trivialdice.letter.lite">    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="20"/>  
                
    <application android:allowBackup="true">
    	<uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="de.hopf.mobile.trivialdice.letter.lite"/>
</manifest>